.post_picture {
    width: 1320px;
    height: 600px;
    object-fit: cover;
}

.info {
    margin: 3rem auto 4rem auto;
    width: 790px;
}

.info *{
    margin: 1rem 0;
}

.title {
    font-family: Libre Baskerville;
    font-size: 42px;
    font-weight: 700;
    line-height: 52.08px;
    text-align: center;
}

.intelligence {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    padding: 1rem 0;
    color: #1C1C1C80;
}

.intelligence .point {
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: #1C1C1C80;
    border-radius: 3px;
    margin: 3px;
}

.description{
    width: 650px;
    margin: 0 auto;
    text-align: left;
}

.author {
    margin: 0 auto;
    width: 650px;
}

.author p:nth-child(1){
    text-align: left;
    color: #1C1C1C80;
    margin: 2rem 0;
}

.author h2{
    text-align: left;
    padding: 20px;
    border: 1px solid #1C1C1C80;
    border-radius: 10px;
}