.post {
    width: 850px;
    height: 180px;
    display: flex;
    margin: 40px auto;
}

.description {
    text-align: left;
    padding: 0 20px;

    h3 {
        color: #1C1C1C80;
        font-size: 20px;
        font-weight: 400;
    }

    div {
        
        h2 a {
            font-size: 30px;
            font-weight: 700;
            font-family: Libre Baskerville;
        }

        p {
            display: inline-block;
            font-size: 16px;
            font-weight: 400;
        }
    }
}

.point {
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: #1C1C1C80;
    border-radius: 3px;
    margin: 3px;
}

.intelligence {
    color: #1C1C1C80;
}